<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EnQ Admin</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <script src='/javascripts/jquery-2.1.4.min.js' ></script>
    <script src='/bootstrap/js/bootstrap.min.js' ></script>
    <script src='/javascripts/angular.min.js' ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>

    <div class="container-fluid">

    <%- body %>

    </div>
</body>
</html>
