<% layout('./layouts/navbar-layout') -%>
<!-- TODO Agregar validaciones a los campos, chequear cajas duplicadas o agregadas a otros grupos, permitir editar grupos -->
<div ng-app="Index" ng-controller="indexController" ng-init="refresh()">

  <div class="row">
    <div class="header-title">
      <p class="text-center extra-big">
        Cajas
      </p>
    </div>
  </div>

    <div class="btn-group-vertical" role="group" style="width: 100%">
      <a ng-repeat="paydesk in paydesks" href="/caller/{{paydesk._id}}" class="btn btn-default" >
        <p class="text-left" style="margin:0">
          <span class="label label-primary">{{paydesk.number}}</span>
          <span >{{paydesk.group.name}}</span>
        </p>
      </a>
    </div>

    <div class="list-group">

    </div>
</div>
  <script type="text/javascript">
    var app = angular.module('Index', []);
    app.controller('indexController', function($scope,$http) {

        $scope.paydesk = {};

        $scope.refresh = function() {
          $http.get("/paydesks").success(function(paydesks) {
            $scope.paydesks = paydesks;
          });
        }
    })
  </script>

