@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}

.header {
  width: 100%;
  height: 10%;
  background: #007CDC;
  color: white;
  /*padding: 20px;*/
}

.header img.logo  {
  height: 40px;
  background-color: #007CDC;
}

a.navbar-brand img {
  height: 100%;
}

.header-title {
  padding-left: 2%;
  padding-right: 2%;
}

td.text-center {
  text-align: center;
  vertical-align: center;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 20px;
}

.big {
  font-size: 20px;
}

.extra-big {
  font-size: 30px;
}

/*.header .btn-logo  {
  background-color: #007CDC;
  background-image: none
}

.header div.logout {
  padding: 5px;
  font-size: 45px;
}

div.content {
  margin-top: 50px;
}*/
/*
div.row.row-underline {
   border-bottom: 3px solid #007CDC;
   margin-bottom: 20px;

}*/

.paydesk_header {
  border-bottom: 2px solid #007CDC;
}

.bold {
  font:  "Comfortaa-Bold", Helvetica, Arial, sans-serif;
  /*font-size: 25px;*/
}

.colored {
  color: #007CDC;
}

body {
  /*padding: 0px;*/
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;

}

span.label {
  font-family: sans-serif;
}

a {
  color: #00B7FA;
}
